* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    background-color: #464646;
    color: white;
    font-size: 25px;
}

h1 {
    font-size: 35px;
}

header {
    background-color: #000927;
}

img {
    max-width: 100%;
}

.wrapper {
    padding: 80px 50px;
}

.container {
    max-width: 1440px;
    margin: auto;
}

header .wrapper {
    padding: 20px 50px;
}

header img {
    min-width: 150px;
    max-width: 20%;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.primary-nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    column-gap: 50px;
    justify-content: right;
    margin-top: 25px;
}

/* This code was taken from https://www.w3schools.com/css/css_dropdowns.asp*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #464646;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* End of taken content */

.dropdown-content ul{
    display: contents;
}

a {
    color: #d871d5;
    text-decoration: none;
}

header span {
    color: #d871d5;
}

.primary-nav .active {
    border: 1px solid white;
}

span .active {
    border: 1px solid white; 
}

.history-text {
    text-align: center;
}

.history-text p {
    text-align: left;
}

.history-text ul {
    list-style-position: inside;
    text-align: left;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 10% 0%;
}

.projects-grid img {
    width: 250px;
    height: 250px;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}

.information {
    background-image: url("../img/loremipsum.PNG");
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.code {
    background-image: url("../img/code.PNG");
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    padding: 15px 30px;
    display: inline-block;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    transition: .5s;
    margin-top: 20px;
    background-color: #000927;
}

.button:hover {
    background-color: #2E56DC;
}